version: 2.0
jobs:
  build:
  docker:
    - image: mcr.microsoft.com/dotnet/core/sdk:2.1
  steps:
    - checkout
    - run:
      name: Restore packages
      command:
        dotnet restore
    - run:
      name: Build App
      command: 
        dotnet build
    - run:
      name: Test App
      commant:
        dotnet test